.wc-bretagne-2024-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wc-bretagne-prefix{
  padding-right:10px;
  color:red;
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--small);
}

.wc-bretagne-suffix{
  padding-left:10px;
  color:blue;
  text-transform: uppercase;
  font-size: var(--wp--preset--font-size--small);
}
